<div id="resource_removal_confirmation" title="<%=t "ad.remove_resource.confirmation.title" %>"></div> 
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    <%=t "ad.remove_resource.confirmation.message" %>
  </p>
</div>